---
const { color = "gray" } = Astro.props;

// const colorMap = {
//   gray: "bg-gray-50 text-gray-600 ring-gray-500/10 dark:bg-gray-800 dark:text-gray-300 dark:ring-gray-700/40",
//   red: "bg-red-50 text-red-700 ring-red-600/10 dark:bg-red-900 dark:text-red-200 dark:ring-red-400/40",
//   yellow:
//     "bg-yellow-50 text-yellow-800 ring-yellow-600/20 dark:bg-yellow-900 dark:text-yellow-200 dark:ring-yellow-400/40",
//   green:
//     "bg-green-50 text-green-700 ring-green-600/20 dark:bg-green-900 dark:text-green-200 dark:ring-green-400/40",
//   blue: "bg-blue-50 text-blue-700 ring-blue-700/10 dark:bg-blue-900 dark:text-blue-200 dark:ring-blue-400/40",
//   indigo:
//     "bg-indigo-50 text-indigo-700 ring-indigo-700/10 dark:bg-indigo-900 dark:text-indigo-200 dark:ring-indigo-400/40",
//   purple:
//     "bg-purple-50 text-purple-700 ring-purple-700/10 dark:bg-purple-900 dark:text-purple-200 dark:ring-purple-400/40",
//   pink: "bg-pink-50 text-pink-700 ring-pink-700/10 dark:bg-pink-900 dark:text-pink-200 dark:ring-pink-400/40",
//   orange:
//     "bg-orange-50 text-orange-800 ring-orange-600/20 dark:bg-orange-900 dark:text-orange-200 dark:ring-orange-400/40",
// };

const colorMap = {
  gray: "bg-gray-50/30 text-gray-600 ring-gray-500/40 dark:bg-gray-800 dark:text-gray-300 dark:ring-gray-500/70",
  red: "bg-red-50/30 text-red-700 ring-red-600/30  dark:bg-red-900 dark:text-red-300 dark:ring-red-400/70",
  yellow:
    "bg-yellow-50/30 text-yellow-800 ring-yellow-600/40 dark:bg-yellow-900 dark:text-yellow-300 dark:ring-yellow-400/70",
  green:
    "bg-green-50/30 text-green-700 ring-green-600/40  dark:bg-green-900 dark:text-green-300 dark:ring-green-400/70",
  blue: "bg-blue-50/30 text-blue-700 ring-blue-700/30  dark:bg-blue-900 dark:text-blue-300 dark:ring-blue-400/70",
  indigo:
    "bg-indigo-50/30 text-indigo-700 ring-indigo-700/30 dark:bg-indigo-900 dark:text-indigo-300 dark:ring-indigo-400/70",
  purple:
    "bg-purple-50/30 text-purple-700 ring-purple-700/30 dark:bg-purple-900 dark:text-purple-300 dark:ring-purple-400/70",
  pink: "bg-pink-50/30 text-pink-700 ring-pink-700/30 dark:bg-pink-900 dark:text-pink-300 dark:ring-pink-400/70",
  orange:
    "bg-orange-50/30 text-orange-800 ring-orange-600/40 dark:bg-orange-900 dark:text-orange-300 dark:ring-orange-400/70",
};

const badgeClass = colorMap[color] ?? colorMap.gray;
---

<span
  class={`inline-flex gap-1 items-center rounded-md px-2 py-1 text-xs font-bold ring-1 ring-inset ${badgeClass}`}
>
  <slot />
</span>
