<svg
  xmlns="http://www.w3.org/2000/svg"
  version="1.1"
  height="200px"
  viewBox="0 0 1037 1274"
>
  <defs>
    <filter
      id="f047"
      x="-0.25"
      y="-0.25"
      width="1.5"
      height="1.5"
      color-interpolation-filters="sRGB"
    >
      <feGaussianBlur stdDeviation="1" result="result1"></feGaussianBlur>
      <feComposite in="result1" in2="result1" result="result4" operator="in"
      ></feComposite>
      <feGaussianBlur stdDeviation="7" result="result6" in="result4"
      ></feGaussianBlur>
      <feComposite operator="over" in="result6" in2="result4" result="result8"
      ></feComposite>
      <feComposite
        operator="in"
        result="fbSourceGraphic"
        in="result6"
        in2="result8"></feComposite>
      <feSpecularLighting
        specularExponent="45"
        specularConstant="2"
        surfaceScale="2.5"
        lighting-color="#fff"
        result="result1"
        in="fbSourceGraphic"
      >
        <fePointLight z="20000" y="-10000" x="-5000"></fePointLight>
      </feSpecularLighting>
      <feComposite
        operator="in"
        result="result2"
        in="result1"
        in2="fbSourceGraphic"></feComposite>
      <feComposite
        k3="1.5"
        k2="1.2"
        operator="arithmetic"
        result="result4"
        in="fbSourceGraphic"
        in2="result2"></feComposite>
      <feComposite operator="over" in="result9" in2="result4" result="result9"
      ></feComposite>
      <feBlend mode="screen" in2="result9"></feBlend>
    </filter>
    <filter
      id="f217"
      x="0"
      y="0"
      width="1"
      height="1"
      color-interpolation-filters="sRGB"
    >
      <feColorMatrix type="hueRotate" values="0"></feColorMatrix>
      <feColorMatrix type="saturate" values="1"></feColorMatrix>
      <feColorMatrix
        type="matrix"
        values="2 -1 0 0 0 0 2 -1 0 0 -1 0 2 0 0 0 0 0 1 0 "></feColorMatrix>
    </filter>
    <filter
      id="filter-1"
      x="-0.25"
      y="-0.25"
      width="1.5"
      height="1.5"
      color-interpolation-filters="sRGB"
    >
      <feGaussianBlur stdDeviation="1" result="result1"></feGaussianBlur>
      <feComposite in="result1" in2="result1" result="result4" operator="in"
      ></feComposite>
      <feGaussianBlur stdDeviation="7" result="result6" in="result4"
      ></feGaussianBlur>
      <feComposite operator="over" in="result6" in2="result4" result="result8"
      ></feComposite>
      <feComposite
        operator="in"
        result="fbSourceGraphic"
        in="result6"
        in2="result8"></feComposite>
      <feSpecularLighting
        specularExponent="45"
        specularConstant="2"
        surfaceScale="2.5"
        lighting-color="#fff"
        result="result1"
        in="fbSourceGraphic"
      >
        <fePointLight z="20000" y="-10000" x="-5000"></fePointLight>
      </feSpecularLighting>
      <feComposite
        operator="in"
        result="result2"
        in="result1"
        in2="fbSourceGraphic"></feComposite>
      <feComposite
        k3="1.5"
        k2="1.2"
        operator="arithmetic"
        result="result4"
        in="fbSourceGraphic"
        in2="result2"></feComposite>
      <feComposite operator="over" in="result9" in2="result4" result="result9"
      ></feComposite>
      <feBlend mode="screen" in2="result9"></feBlend>
    </filter>
  </defs>
  <path
    d="M82.9711685180664,121.06657028176278 H82.9711685180664 V121.06657028176278 H82.9711685180664 V121.06657028176278 z"
    id="backgroundrect"
    fill="#FFFFFF"
    stroke="none"
    class=""></path>
  <title>Layer 1</title>
  <g class="currentLayer">
    <title>Layer 1</title>
    <path
      fill="#6d6d6d"
      fill-opacity="1"
      stroke="#000000"
      stroke-opacity="1"
      stroke-width="5"
      stroke-dasharray="none"
      stroke-linejoin="miter"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      d="M554.9485965581914,399.18380249731183 L760.6559558981021,399.18380249731183 "
      id="svg_63"
      class=""></path>
    <path
      fill="#ffbf51"
      fill-opacity="1"
      stroke="#000000"
      stroke-opacity="1"
      stroke-width="5"
      stroke-dasharray="none"
      stroke-linejoin="miter"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      d="M99.96213365304692,456.46938355976306 C99.96213365304692,407.8442455035507 130.2593350573023,368.4578836780187 167.6632874082349,368.4578836780187 C205.06723975916748,368.4578836780187 235.3644411634229,407.8442455035507 235.3644411634229,456.46938355976306 C235.3644411634229,505.0945216159754 205.06723975916748,544.4808834415074 167.6632874082349,544.4808834415074 C130.2593350573023,544.4808834415074 99.96213365304692,505.0945216159754 99.96213365304692,456.46938355976306 z"
      id="svg_53"
      class=""></path>
    <path
      fill="#ffce72"
      fill-opacity="1"
      stroke="#000000"
      stroke-opacity="1"
      stroke-width="18"
      stroke-dasharray="none"
      stroke-linejoin="miter"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      d="M99.96213365304692,456.46938355976306 C99.96213365304692,407.8442455035507 130.2593350573023,368.4578836780187 167.6632874082349,368.4578836780187 C205.06723975916748,368.4578836780187 235.3644411634229,407.8442455035507 235.3644411634229,456.46938355976306 C235.3644411634229,505.0945216159754 205.06723975916748,544.4808834415074 167.6632874082349,544.4808834415074 C130.2593350573023,544.4808834415074 99.96213365304692,505.0945216159754 99.96213365304692,456.46938355976306 z"
      class=""
      id="svg_62"></path>
    <path
      fill="#ffbf51"
      fill-opacity="1"
      stroke="#000000"
      stroke-opacity="1"
      stroke-width="5"
      stroke-dasharray="none"
      stroke-linejoin="miter"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      d="M789.9931700854179,446.0538204502749 C789.9931700854179,397.42868239406255 820.2903714896734,358.0423205685305 857.6943238406059,358.0423205685305 C895.0982761915385,358.0423205685305 925.3954775957939,397.42868239406255 925.3954775957939,446.0538204502749 C925.3954775957939,494.6789585064872 895.0982761915385,534.0653203320193 857.6943238406059,534.0653203320193 C820.2903714896734,534.0653203320193 789.9931700854179,494.6789585064872 789.9931700854179,446.0538204502749 z"
      class=""
      id="svg_35"></path>
    <path
      fill="#ffbf51"
      fill-opacity="1"
      stroke="#000000"
      stroke-opacity="1"
      stroke-width="5"
      stroke-dasharray="none"
      stroke-linejoin="miter"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      d="M789.9931700854179,446.0538204502749 C789.9931700854179,397.42868239406255 820.2903714896734,358.0423205685305 857.6943238406059,358.0423205685305 C895.0982761915385,358.0423205685305 925.3954775957939,397.42868239406255 925.3954775957939,446.0538204502749 C925.3954775957939,494.6789585064872 895.0982761915385,534.0653203320193 857.6943238406059,534.0653203320193 C820.2903714896734,534.0653203320193 789.9931700854179,494.6789585064872 789.9931700854179,446.0538204502749 z"
      class=""
      id="svg_61"></path>
    <path
      fill="#ffb461"
      fill-opacity="1"
      stroke="#000000"
      stroke-opacity="1"
      stroke-width="18"
      stroke-dasharray="none"
      stroke-linejoin="miter"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      d="M789.9931700854179,446.0538204502749 C789.9931700854179,397.42868239406255 820.2903714896734,358.0423205685305 857.6943238406059,358.0423205685305 C895.0982761915385,358.0423205685305 925.3954775957939,397.42868239406255 925.3954775957939,446.0538204502749 C925.3954775957939,494.6789585064872 895.0982761915385,534.0653203320193 857.6943238406059,534.0653203320193 C820.2903714896734,534.0653203320193 789.9931700854179,494.6789585064872 789.9931700854179,446.0538204502749 z"
      class=""
      id="svg_65"></path>
    <path
      fill="#ffce72"
      fill-opacity="1"
      stroke="#000000"
      stroke-opacity="1"
      stroke-width="18"
      stroke-dasharray="none"
      stroke-linejoin="round"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      d="M176.0391009817613,534.1086851127825 C176.0391009817613,343.3471309539077 188.44536633245298,19.579606662066453 515.9022811962132,21.4393584714021 C843.3591960599733,23.299446017965693 861.3237203489552,339.5863574821401 861.3237203489552,530.3479116410149 C861.3237203489552,721.1094657998897 699.7515740024464,972.8257149000333 509.92429907111364,972.8257149000333 C320.1004331639415,972.8257149000333 176.0391009817613,724.8702392716573 176.0391009817613,534.1086851127825 z"
      id="svg_1"
      class=""></path>
    <path
      fill="#fef6df"
      fill-opacity="1"
      stroke="none"
      stroke-opacity="1"
      stroke-width="5"
      stroke-dasharray="none"
      stroke-linejoin="round"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      d="M318.71056663991874,121.4681467692177 C370.2806923794727,74.59739197026886 420.78547368846046,115.66234742312429 367.4943785372501,159.2093540512093 C314.2033051781913,202.75634681994927 267.1404626925163,168.33888770882152 318.71056663991874,121.4681467692177 z"
      class=""
      id="svg_55"></path>
    <path
      fill="#ffb461"
      fill-opacity="1"
      stroke="none"
      stroke-opacity="1"
      style="color: rgb(255, 191, 81)"
      stroke-width="5"
      stroke-dasharray="none"
      stroke-linejoin="round"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      d="M515.5157166748047,31.59139893426388 C625.4116145079137,118.70010393068284 583.9785084097385,339.22036401130646 519.6454870538712,406.41714417101826 C597.1565379881858,534.3689397106358 415.9543999624252,794.226278169174 533.4395971314907,822.1056132855604 C650.9247943005562,849.9849484019467 870.9501589472293,736.8800158808419 848.1958011701107,478.10251082469915 C849.3365656108856,371.0534465069958 848.5816977465153,31.694981699509327 515.5157166748047,31.59139893426388 z"
      class=""
      id="svg_82"></path>
    <path
      fill="#b78e50"
      fill-opacity="1"
      stroke="none"
      stroke-opacity="1"
      style="color: rgb(219, 164, 76)"
      stroke-width="5"
      stroke-dasharray="none"
      stroke-linejoin="round"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      id="svg_7"
      d="M535.2727407670021,700.0758412730881 L471.3696217374802,740.4291139688679 L472.77442067790025,810.9195552587696 C498.2368246052265,780.9144039144703 528.8479012756347,759.5005289817044 535.2727407670021,700.0758412730881 z"
      class=""></path>
    <path
      fill="#938671"
      fill-opacity="1"
      stroke="#000000"
      stroke-opacity="1"
      style="color: rgb(147, 134, 113)"
      stroke-width="5"
      stroke-dasharray="none"
      stroke-linejoin="round"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      id="svg_10"
      d="M175.639625332391,535.3374833670518 C163.0235500401759,694.942932684155 145.74620237897034,768.6763030397256 87.58411804784555,865.130096299667 C202.3342472817385,949.4417719294856 298.92006275008316,1047.1581437740156 398.1903297892932,1203.8660258583318 C502.91379584038805,1176.687425781935 609.8985812513783,1172.0735698399062 705.5975339191427,1174.2298292733963 C783.6704887274536,1050.5500195100963 836.9241980898223,992.3134531662495 937.5653060566619,916.0244510315811 C908.0307603739711,817.4887770471091 865.9781746696244,630.0310838187129 861.266180153274,526.9832047944569 C856.2461338173161,844.8976412099933 224.45220264353702,878.4908884153397 175.639625332391,535.3374833670518 z"
      class=""></path>
    <path
      fill="#bf9879"
      fill-opacity="1"
      stroke="#000000"
      stroke-opacity="1"
      style="color: rgb(147, 134, 113)"
      stroke-width="18"
      stroke-dasharray="none"
      stroke-linejoin="round"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      d="M176.02061586300385,532.113631200586 C163.40455348375906,691.7190805176892 146.1272058225535,765.4523992213785 87.9651214914287,861.90619248132 C202.71523781235135,946.2178681111386 299.301053280696,1043.9342399556685 398.57134614584663,1200.6421220399848 C503.2948121969415,1173.463521963588 610.2795976079318,1168.8496660215592 705.9785502756962,1171.0059254550492 C784.0515050840071,1047.3261156917492 837.3051627944945,989.0895493479024 937.9462707613342,912.800547213234 C908.4117250786434,814.2648732287621 866.3591393742967,626.8072316522471 861.6471448579463,523.7593526279911 C856.6270985219884,841.6737373916462 224.83319317414987,875.2669845969926 176.02061586300385,532.113631200586 z"
      class=""
      id="svg_43"></path>
    <path
      fill="#aa7c57"
      fill-opacity="1"
      stroke="#000000"
      stroke-opacity="1"
      stroke-width="5"
      stroke-dasharray="none"
      stroke-linejoin="round"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      d="M252.14575865921574,685.8158959660236 C245.40870048767897,755.0044172928779 224.53622693778448,817.4959106561423 183.45281130674513,868.581274044815 "
      class=""
      id="svg_44"></path>
    <path
      fill="#aa7c57"
      fill-opacity="1"
      stroke="#000000"
      stroke-opacity="1"
      stroke-width="5"
      stroke-dasharray="none"
      stroke-linejoin="round"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      d="M523.5469009366035,785.2506628124902 C529.8803438704014,968.2773469319532 480.4991223213673,1044.424219618101 452.51485041666035,1113.2932182755658 "
      class=""
      id="svg_45"></path>
    <path
      fill="#986a44"
      fill-opacity="1"
      stroke="none"
      stroke-opacity="1"
      style="color: rgb(255, 191, 81)"
      stroke-width="5"
      stroke-dasharray="none"
      stroke-linejoin="round"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      id="svg_5"
      d="M537.16490107708,784.3794046650496 C586.4073253437548,870.4139804449064 581.224833841354,1037.4225905937842 557.4583053865956,1165.9362933131183 C614.3882340911716,1160.1139899580216 659.7006216713146,1161.5932998362173 699.3735019040053,1163.4009090714594 C766.4957930263392,1074.4347791209716 807.4008288855787,1001.7305208468665 927.6212022521597,911.4375573715502 C905.4828960491598,805.0315829415326 881.3508272309939,753.4129138792437 859.212521027994,590.2226690496959 C819.1538012425756,704.5089643902161 705.5782874395502,770.7681009254507 537.16490107708,784.3794046650496 z"
      class=""></path>
    <path
      fill="#ffce72"
      fill-opacity="1"
      stroke="none"
      stroke-opacity="1"
      stroke-width="5"
      stroke-dasharray="none"
      stroke-linejoin="round"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      d="M672.7707166968225,609.554451320578 C672.7707166968225,596.4630754173588 677.0298791705004,589.5517954504605 723.5465820132135,585.8590475062622 C770.0632848559267,582.1662995620638 774.3224473296045,596.4630754173588 774.3224473296045,609.554451320578 C774.3224473296045,622.6458272237971 770.0634914634517,633.2498551348938 723.5465820132135,633.2498551348938 C677.0296725629755,633.2498551348938 672.7707166968225,622.6458272237971 672.7707166968225,609.554451320578 z"
      id="svg_37"
      class=""></path>
    <path
      fill="#6e4931"
      fill-opacity="1"
      stroke="none"
      stroke-opacity="1"
      style="color: rgb(79, 73, 64)"
      stroke-width="5"
      stroke-dasharray="none"
      stroke-linejoin="round"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      id="svg_14"
      d="M718.2478268614796,739.7574399061748 L765.1850276692203,712.9206719797046 C778.495097637533,740.6950765059962 786.5955588658035,822.2851112104697 784.2801599862687,870.8911843004905 C776.1560421963986,822.8402656298429 742.8639771104572,762.6370022565904 718.2478268614796,739.7574399061748 z"
      class=""></path>
    <path
      fill="#6d6250"
      fill-opacity="1"
      stroke="none"
      stroke-opacity="1"
      style="color: rgb(79, 73, 64)"
      stroke-width="5"
      stroke-dasharray="none"
      stroke-linejoin="round"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      id="svg_22"
      d="M500.6314025129541,785.1348847519046 C500.6314025129541,785.1348847519046 470.2521419647601,829.4010634778977 394.8091459926254,852.0376037271642 C449.4211448754868,816.381483689577 457.2333369546577,809.4377146893901 477.26584761212143,783.4683884561607 L500.6314025129541,785.1348847519046 z"
      class=""></path>
    <path
      fill="#6e4931"
      fill-opacity="1"
      stroke="#000000"
      stroke-opacity="1"
      stroke-width="5"
      stroke-dasharray="none"
      stroke-linejoin="round"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      d="M665.1005757243745,747.0904739035914 C678.0410166284365,805.7935497274791 714.5256071194104,904.4625343268871 757.5366408602721,947.3609953321154 "
      class=""
      id="svg_41"></path>
    <path
      fill="#6e4931"
      fill-opacity="1"
      stroke="#000000"
      stroke-opacity="1"
      stroke-width="10"
      stroke-dasharray="none"
      stroke-linejoin="round"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      d="M697.4942899457715,746.7602403545319 C713.2255934982427,814.7730099091317 757.5792705110257,929.0899864670978 809.8669863907821,978.7916992615978 "
      class=""
      id="svg_49"></path>
    <path
      fill="#6e4931"
      fill-opacity="1"
      stroke="#000000"
      stroke-opacity="1"
      stroke-width="10"
      stroke-dasharray="none"
      stroke-linejoin="round"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      d="M763.5442412044212,707.1303264164114 C779.2755447568924,775.1430959710112 823.6291701177942,889.4600725289772 875.9168859975506,939.1617853234773 "
      class=""
      id="svg_50"></path>
    <path
      fill="#aa7c57"
      fill-opacity="1"
      stroke="#000000"
      stroke-opacity="1"
      stroke-width="10"
      stroke-dasharray="none"
      stroke-linejoin="round"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      d="M422.48306864401525,774.9117839162776 C410.91020639683916,840.8764014247848 389.3636757969987,913.2155842024134 340.89471262568145,975.4086846478588 "
      class=""
      id="svg_42"></path>
    <path
      fill="#aa7c57"
      fill-opacity="1"
      stroke="#000000"
      stroke-opacity="1"
      stroke-width="5"
      stroke-dasharray="none"
      stroke-linejoin="round"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      d="M404.02051398181914,768.7586617577264 C388.75390381002427,879.0370711095521 335.2022911896706,950.1435928986259 283.04092176167967,1004.9510619211385 "
      class=""
      id="svg_38"></path>
    <path
      fill="#aa7c57"
      fill-opacity="1"
      stroke="#000000"
      stroke-opacity="1"
      stroke-width="5"
      stroke-dasharray="none"
      stroke-linejoin="round"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      d="M325.1520549147129,741.0214990642258 C303.08147879052166,835.718487879295 289.4363112511635,896.5885952205847 234.1667818542719,939.253862317104 "
      class=""
      id="svg_32"></path>
    <path
      fill="#aa7c57"
      fill-opacity="1"
      stroke="#000000"
      stroke-opacity="1"
      stroke-width="5"
      stroke-dasharray="none"
      stroke-linejoin="round"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      d="M225.8830693118665,654.7174164648311 C219.2640098629812,748.753436816656 185.10287604954044,819.8925914378558 149.24846443994227,858.5167318742167 "
      id="svg_21"
      class=""></path>
    <path
      fill="#aa7c57"
      fill-opacity="1"
      stroke="#000000"
      stroke-opacity="1"
      stroke-width="5"
      stroke-dasharray="none"
      stroke-linejoin="round"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      d="M291.792311401844,719.015239036102 C285.22868454527855,764.9673971474358 276.78431963739393,814.2098313312719 248.18193619890218,843.7918504646012 "
      class=""
      id="svg_46"></path>
    <path
      fill="#996b49"
      fill-opacity="1"
      stroke="#000000"
      stroke-opacity="1"
      stroke-width="10"
      stroke-dasharray="none"
      stroke-linejoin="round"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      d="M831.2780651780123,637.5374870763223 C840.6317043484888,704.8270269900529 867.0132125938691,817.932766933365 898.1129135813463,867.107527235639 "
      class=""
      id="svg_47"></path>
    <path
      fill="#6e4931"
      fill-opacity="1"
      stroke="#000000"
      stroke-opacity="1"
      stroke-width="10"
      stroke-dasharray="none"
      stroke-linejoin="round"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      d="M831.2780651780123,637.5374870763223 C840.6317043484888,704.8270269900529 867.0132125938691,817.932766933365 898.1129135813463,867.107527235639 "
      class=""
      id="svg_83"></path>
    <path
      fill="#6e4931"
      fill-opacity="1"
      stroke="#000000"
      stroke-opacity="1"
      stroke-width="5"
      stroke-dasharray="none"
      stroke-linejoin="round"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      d="M811.5835648347952,664.6158825031487 C818.0101952001883,710.9809870744755 836.1297267847171,788.9122607725947 857.4904655678024,822.7945519052589 "
      class=""
      id="svg_39"></path>
    <path
      fill="#6e4931"
      stroke="#000000"
      stroke-opacity="1"
      stroke-width="10"
      stroke-dasharray="none"
      stroke-linejoin="round"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      d="M690.5586104855538,1021.0805794580169 C645.5770544662475,1012.4701665680595 572.5881744475364,955.6159256446549 559.6758965001104,781.3240016315169 "
      class=""
      id="svg_48"
      fill-opacity="1"></path>
    <path
      fill="#aa7c57"
      fill-opacity="1"
      stroke="#000000"
      stroke-opacity="1"
      stroke-width="5"
      stroke-dasharray="none"
      stroke-linejoin="round"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      d="M508.8591356294155,783.1688523345181 C508.82867011022574,905.2340325551221 458.4759370048046,1034.9494431500623 396.87465720295904,1074.612164077539 "
      class=""
      id="svg_31"></path>
    <path
      fill="#938671"
      fill-opacity="1"
      stroke="#000000"
      stroke-opacity="1"
      stroke-width="3"
      stroke-dasharray="none"
      stroke-linejoin="round"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      d="M211.3512257451306,635.3697334851391 C206.83827175306885,686.6567458181022 192.5073798302268,758.990866711371 160.97324778276231,811.0019351153029 "
      id="svg_34"
      class=""></path>
    <path
      fill="#aa7c57"
      fill-opacity="1"
      stroke="#000000"
      stroke-opacity="1"
      stroke-width="10"
      stroke-dasharray="none"
      stroke-linejoin="round"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      d="M211.3512257451306,635.3697334851391 C206.83827175306885,686.6567458181022 192.5073798302268,758.990866711371 160.97324778276231,811.0019351153029 "
      class=""
      id="svg_70"></path>
    <path
      fill="none"
      stroke="#000000"
      stroke-opacity="1"
      stroke-width="5"
      stroke-dasharray="none"
      stroke-linejoin="round"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      d="M538.1033764146757,783.0552570380446 C534.3615591833166,886.6343240087867 547.3043326242603,992.7176807886922 593.0492530577555,1036.6251888514803 "
      id="svg_33"
      class=""></path>
    <path
      fill="none"
      stroke="#000000"
      stroke-opacity="1"
      stroke-width="2"
      stroke-dasharray="none"
      stroke-linejoin="miter"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      d="M487.705910138607,722.2682794740388 C459.23080486917496,776.5375243241974 408.18413493776325,816.2984119246192 355.526177546978,843.1656147923657 "
      id="svg_52"
      class=""></path>
    <path
      fill="#6d6250"
      stroke="#000000"
      stroke-opacity="1"
      stroke-width="2"
      stroke-dasharray="none"
      stroke-linejoin="miter"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      d="M566.6928462247848,723.8829519911001 C602.1547105617524,803.4047271919438 689.1980839447975,863.5842827649305 748.8394153454303,867.3450818560311 "
      id="svg_54"
      class=""
      fill-opacity="1"></path>
    <path
      fill="#6d6250"
      stroke="#000000"
      stroke-opacity="1"
      stroke-width="2"
      stroke-dasharray="none"
      stroke-linejoin="miter"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      d="M602.1716358501911,728.5340212540815 C647.5077134623527,806.3158768034169 691.8485841143131,838.548396106262 735.9457306127548,852.8333395486065 "
      id="svg_56"
      class=""
      fill-opacity="1"></path>
    <path
      fill="#dadada"
      fill-opacity="1"
      stroke="#000000"
      stroke-opacity="1"
      stroke-width="5"
      stroke-dasharray="none"
      stroke-linejoin="miter"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      d="M611.2360401331167,427.1756119107972 C611.2360401331167,399.1226476475978 633.9589411863083,376.3997465944063 662.0119054495077,376.3997465944063 C690.0648697127072,376.3997465944063 712.7877707658987,399.1226476475978 712.7877707658987,427.1756119107972 C712.7877707658987,455.22857617399677 690.0648697127072,477.9514772271882 662.0119054495077,477.9514772271882 C633.9589411863083,477.9514772271882 611.2360401331167,455.22857617399677 611.2360401331167,427.1756119107972 z"
      class=""
      id="svg_11"></path>
    <path
      fill="#dadada"
      fill-opacity="1"
      stroke="#000000"
      stroke-opacity="1"
      stroke-width="18"
      stroke-dasharray="none"
      stroke-linejoin="miter"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      d="M611.2360401331167,427.1756119107972 C611.2360401331167,399.1226476475978 633.9589411863083,376.3997465944063 662.0119054495077,376.3997465944063 C690.0648697127072,376.3997465944063 712.7877707658987,399.1226476475978 712.7877707658987,427.1756119107972 C712.7877707658987,455.22857617399677 690.0648697127072,477.9514772271882 662.0119054495077,477.9514772271882 C633.9589411863083,477.9514772271882 611.2360401331167,455.22857617399677 611.2360401331167,427.1756119107972 z"
      class=""
      id="svg_69"></path>
    <path
      fill="#6d6250"
      fill-opacity="1"
      stroke="none"
      stroke-opacity="1"
      style="color: rgb(255, 191, 81)"
      stroke-width="5"
      stroke-dasharray="none"
      stroke-linejoin="round"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      id="svg_13"
      d="M880.7878364367956,1011.5166884389948 "></path>
    <path
      fill="#6d6250"
      fill-opacity="1"
      stroke="none"
      stroke-opacity="1"
      style="color: rgb(255, 191, 81)"
      stroke-width="5"
      stroke-dasharray="none"
      stroke-linejoin="round"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      id="svg_18"
      d="M730.9640928699167,647.2638210081842 "></path>
    <path
      fill="#6d6250"
      fill-opacity="1"
      stroke="none"
      stroke-opacity="1"
      style="color: rgb(183, 142, 80)"
      stroke-width="5"
      stroke-dasharray="none"
      stroke-linejoin="round"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      id="svg_20"
      d="M573.3011227099415,949.0342777362191 "></path>
    <path
      fill="#4f4940"
      fill-opacity="1"
      stroke="none"
      stroke-opacity="1"
      style="color: rgb(79, 73, 64)"
      stroke-width="5"
      stroke-dasharray="none"
      stroke-linejoin="round"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      id="svg_19"
      d="M889.2398218062674,987.2246908694744 "></path>
    <path
      fill="#6d6250"
      fill-opacity="1"
      stroke="none"
      stroke-opacity="1"
      style="color: rgb(79, 73, 64)"
      stroke-width="5"
      stroke-dasharray="none"
      stroke-linejoin="round"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      id="svg_28"
      d="M610.6235518052032,1025.415083019153 "></path>
    <path
      fill="#ffbf51"
      fill-opacity="1"
      stroke="none"
      stroke-opacity="1"
      stroke-width="5"
      stroke-dasharray="none"
      stroke-linejoin="miter"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      id="svg_66"
      d="M881.2805376788165,533.3666069812339 "
      style="color: rgb(0, 0, 0)"></path>
    <path
      fill="#bf9879"
      fill-opacity="1"
      stroke="#000000"
      stroke-opacity="1"
      style="color: rgb(147, 134, 113)"
      stroke-width="18"
      stroke-dasharray="none"
      stroke-linejoin="round"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      d="M513.5872438798469,644.5640637268357 C569.9530823895984,638.0344395102861 767.3145073234846,725.8909837483648 778.4037530067799,891.738252999849 C694.8673721141022,903.2736676331392 547.3119967747843,784.6197925202564 516.0964922696076,697.2218136836659 C497.7055300492575,821.7570819037633 313.8295848723137,891.1274178525186 285.4117528616407,890.2934465783096 C272.03990724338655,766.5912198985593 409.1136696301037,655.4284171192908 513.5872438798469,644.5640637268357 z"
      class=""
      id="svg_26"></path>
    <path
      fill="#986a44"
      fill-opacity="1"
      stroke="none"
      stroke-opacity="1"
      style="color: rgb(183, 142, 80)"
      stroke-width="5"
      stroke-dasharray="none"
      stroke-linejoin="round"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      id="svg_24"
      d="M507.5761987657547,693.8744155891129 C499.7871810262203,774.9059265186975 391.3130074219704,858.5439318678566 293.2580413806439,879.6870021856018 C349.2299702477455,851.0324888587186 381.7671447424888,829.3241139071175 419.5105379610062,798.9330659864136 C462.75464992213244,764.781218974609 490.37333559656145,726.289728007097 507.5761987657547,693.8744155891129 z"
      class=""></path>
    <path
      fill="#986a44"
      fill-opacity="1"
      stroke="none"
      stroke-opacity="1"
      style="color: rgb(183, 142, 80)"
      stroke-width="5"
      stroke-dasharray="none"
      stroke-linejoin="round"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      d="M572.3613879320618,662.978535519619 C701.4570648392436,709.8017333015393 768.1285755237336,822.494586492319 771.8293721082207,884.5614851991127 C733.8669858930109,884.9998248259018 708.5689359565971,875.3059693607281 677.4919169417617,853.8396760889481 C679.8305828299522,803.734539419074 645.3158070374724,707.3466564911795 572.3613879320618,662.978535519619 z"
      class=""
      id="svg_30"></path>
    <path
      d="M394.98869228363037,425.6594073770234 "
      style="
                            fill: rgb(0, 0, 0);
                            fill-opacity: 1;
                            stroke: rgb(0, 0, 0);
                            stroke-opacity: 1;
                            stroke-width: 1;
                            paint-order: fill;
                        "
      id="svg_9"></path>
    <path
      d="M377.98194789886475,439.04765200592965 "
      style="
                            fill: rgb(0, 0, 0);
                            fill-opacity: 1;
                            stroke: rgb(0, 0, 0);
                            stroke-opacity: 1;
                            stroke-width: 1;
                            paint-order: fill;
                        "
      id="svg_12"></path>
    <path
      d="M662.8548706689442,385.25529556216077 "
      style="
                            fill: rgb(219, 164, 76);
                            fill-opacity: 1;
                            stroke: rgb(0, 0, 0);
                            stroke-opacity: 1;
                            stroke-width: 0;
                            paint-order: fill;
                        "
      id="svg_25"></path>
    <path
      fill="#6d6d6d"
      fill-opacity="1"
      stroke="#000000"
      stroke-opacity="1"
      stroke-width="5"
      stroke-dasharray="none"
      stroke-linejoin="miter"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      d="M280.7589238496801,400.87633134119153 L486.46628318959074,400.87633134119153 "
      id="svg_23"
      class=""></path>
    <path
      fill="#ffbf51"
      fill-opacity="1"
      stroke="none"
      stroke-opacity="1"
      stroke-width="5"
      stroke-dasharray="none"
      stroke-linejoin="miter"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      id="svg_64"
      d="M537.1118764593388,383.95874249225824 C663.5771916165305,260.0610612923857 715.3268372217462,308.7738926061379 734.6618134872957,351.5017736171774 C756.7332020253322,367.6040868309263 803.7163623298835,365.0589942586946 785.167058614807,321.92279793665404 C763.9926198864596,234.3341311229765 641.4245652145801,191.18967630147972 533.2624153852248,223.94631798667479 C495.9933269294107,235.23317463816875 537.1118764593388,383.95874249225824 537.1118764593388,383.95874249225824 z"
      style="color: rgb(0, 0, 0)"
      class=""></path>
    <path
      fill="#ffce72"
      fill-opacity="1"
      stroke="none"
      stroke-opacity="1"
      stroke-width="5"
      stroke-dasharray="none"
      stroke-linejoin="miter"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      d="M537.1118764593388,383.95874249225824 C663.5771916165305,260.0610612923857 715.3268372217462,308.7738926061379 734.6618134872957,351.5017736171774 C756.7332020253322,367.6040868309263 803.7163623298835,365.0589942586946 785.167058614807,321.92279793665404 C763.9926198864596,234.3341311229765 641.4245652145801,191.18967630147972 533.2624153852248,223.94631798667479 C495.9933269294107,235.23317463816875 537.1118764593388,383.95874249225824 537.1118764593388,383.95874249225824 z"
      style="color: rgb(0, 0, 0)"
      class=""
      id="svg_80"></path>
    <path
      fill="#6d6d6d"
      fill-opacity="1"
      stroke="#000000"
      stroke-opacity="1"
      stroke-width="5"
      stroke-dasharray="none"
      stroke-linejoin="miter"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      id="path-1"
      class=""
      d="M572.6505252109478,358.7329620830948 C572.6505252109478,358.7329620830948 596.8632593194124,309.6595888294923 663.3072533407066,309.6726821349984 C729.9784105470085,309.68582020477595 749.0474095750359,360.8660493220886 749.0474095750359,360.8660493220886 "
      style="fill-opacity: 0"></path>
    <path
      fill="#6d6d6d"
      fill-opacity="1"
      stroke="#000000"
      stroke-opacity="1"
      stroke-width="18"
      stroke-dasharray="none"
      stroke-linejoin="miter"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      class=""
      d="M572.6505252109478,358.7329620830948 C572.6505252109478,358.7329620830948 596.8632593194124,309.6595888294923 663.3072533407066,309.6726821349984 C729.9784105470085,309.68582020477595 749.0474095750359,360.8660493220886 749.0474095750359,360.8660493220886 "
      style="fill-opacity: 0"
      id="svg_67"></path>
    <path
      style="
                            fill: rgb(109, 109, 109);
                            fill-opacity: 0;
                            stroke: rgb(0, 0, 0);
                            stroke-opacity: 1;
                            stroke-width: 5;
                            paint-order: fill;
                        "
      id="svg_27"></path>
    <path
      style="
                            fill: rgb(255, 191, 81);
                            fill-opacity: 1;
                            stroke: rgb(0, 0, 0);
                            stroke-opacity: 1;
                            stroke-width: 0;
                            paint-order: fill;
                        "
      id="svg_29"></path>
    <path
      style="
                            fill: rgb(255, 191, 81);
                            fill-opacity: 1;
                            stroke: rgb(0, 0, 0);
                            stroke-opacity: 1;
                            stroke-width: 0;
                            paint-order: fill;
                        "
      id="svg_36"></path>
    <path
      style="
                            fill: rgb(255, 191, 81);
                            fill-opacity: 1;
                            stroke: rgb(0, 0, 0);
                            stroke-opacity: 1;
                            stroke-width: 0;
                            paint-order: fill;
                        "
      id="svg_40"></path>
    <path
      fill="#ffb461"
      fill-opacity="1"
      stroke="none"
      stroke-opacity="1"
      stroke-width="5"
      stroke-dasharray="none"
      stroke-linejoin="round"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      id="svg_76"
      d="M480.03074,356.15121C471.75927,283.01889 275.54459,390.83519 286.38033,397.84676C297.21608,404.85833 347.19735,484.09215 420.5133,459.99262C493.82924,435.8931 488.30221,429.28354 480.03074,356.15121z"
      style="color: rgb(0, 0, 0)"
      class=""></path>
    <path
      fill="#dadada"
      fill-opacity="1"
      stroke="#000000"
      stroke-opacity="1"
      stroke-width="18"
      stroke-dasharray="none"
      stroke-linejoin="miter"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      d="M337.9577281475067,422.87919592131846 C337.9577281475067,394.8262316581189 360.68062920069826,372.1033306049274 388.7335934638977,372.1033306049274 C416.7865577270972,372.1033306049274 439.5094587802887,394.8262316581189 439.5094587802887,422.87919592131846 C439.5094587802887,450.9321601845179 416.7865577270972,473.65506123770945 388.7335934638977,473.65506123770945 C360.68062920069826,473.65506123770945 337.9577281475067,450.9321601845179 337.9577281475067,422.87919592131846 z"
      id="svg_2"
      class=""></path>
    <path
      style="
                            fill: rgb(255, 191, 81);
                            fill-opacity: 1;
                            stroke: rgb(0, 0, 0);
                            stroke-opacity: 1;
                            stroke-width: 0;
                            paint-order: fill;
                        "
      id="svg_51"></path>
    <path
      style="
                            fill: rgb(255, 191, 81);
                            fill-opacity: 1;
                            stroke: rgb(0, 0, 0);
                            stroke-opacity: 1;
                            stroke-width: 0;
                            paint-order: fill;
                        "
      id="svg_57"></path>
    <path
      d="M529.7026027441025,624.9840698242188 L443.4363063573837,583.726318359375 L527.8271754980087,583.726318359375 L527.827236533165,405.56768798828125 L600.9660304784775,589.3523864746094 C600.9660304784775,589.3523864746094 527.827236533165,626.8594360351562 529.7026027441025,624.9840698242188 z"
      style="
                            fill: rgb(219, 164, 76);
                            fill-opacity: 1;
                            stroke: rgb(0, 0, 0);
                            stroke-opacity: 1;
                            paint-order: fill;
                        "
      id="svg_58"
      class=""
      stroke-width="18"></path>
    <g id="svg_59" class="" fill-opacity="1" fill="#ffb461">
      <g id="g-2" stroke-width="0" fill="#ffb461">
        <g id="g-3" stroke-width="0" fill="#ffb461">
          <path
            class="st0"
            d="M533.2870995263943,385.1933597859168 L615.3003941211587,574.1018098304328 L538.9131612813143,607.8581752474589 L533.2870995263943,385.1933597859168 z"
            stroke-width="0"
            id="svg_60"
            fill="#ffb461"></path>
        </g>
      </g>
    </g>
    <path
      fill="#000000"
      fill-opacity="1"
      stroke="#000000"
      stroke-opacity="1"
      stroke-width="18"
      stroke-dasharray="none"
      stroke-linejoin="round"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      d="M384.1111134520105,424.3333301437757 C384.1111134520105,421.20257432354583 386.6470256663967,418.6666621091597 389.7777814866265,418.6666621091597 C392.9085373068564,418.6666621091597 395.4444495212425,421.20257432354583 395.4444495212425,424.3333301437757 C395.4444495212425,427.4640859640055 392.9085373068564,429.9999981783917 389.7777814866265,429.9999981783917 C386.6470256663967,429.9999981783917 384.1111134520105,427.4640859640055 384.1111134520105,424.3333301437757 z"
      id="eye_left"
      class=""></path>
    <path
      fill="#000000"
      fill-opacity="1"
      stroke="#000000"
      stroke-opacity="1"
      stroke-width="18"
      stroke-dasharray="none"
      stroke-linejoin="round"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      d="M655.499996327453,426.55555247196173 C655.499996327453,423.42479665173187 658.0359085418393,420.8888844373457 661.166664362069,420.8888844373457 C664.2974201822989,420.8888844373457 666.833332396685,423.42479665173187 666.833332396685,426.55555247196173 C666.833332396685,429.68630829219154 664.2974201822989,432.22222050657774 661.166664362069,432.22222050657774 C658.0359085418393,432.22222050657774 655.499996327453,429.68630829219154 655.499996327453,426.55555247196173 z"
      class=""
      id="eye_right"></path>
    <path
      fill="#dba44c"
      fill-opacity="1"
      stroke="none"
      stroke-opacity="1"
      stroke-width="5"
      stroke-dasharray="none"
      stroke-linejoin="round"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      id="svg_78"
      d="M327.2041707571758,412.0040841050784 "
      style="color: rgb(0, 0, 0)"></path>
    <path
      d="M285.0595539945517,303.8814009618816 H495.5840329236112 V405.59006353181906 H285.0595539945517 V303.8814009618816 z"
      fill="#ffbf51"
      stroke="none"
      stroke-width="5"
      stroke-dashoffset=""
      fill-rule="nonzero"
      id="svg_8"
      style="color: rgb(0, 0, 0)"
      class=""
      fill-opacity="1"></path>
    <path
      d="M285.0595539945517,303.8814009618816 H495.5840329236112 V405.59006353181906 H285.0595539945517 V303.8814009618816 z"
      fill="#ffce72"
      stroke="none"
      stroke-width="5"
      stroke-dashoffset=""
      fill-rule="nonzero"
      style="color: rgb(0, 0, 0)"
      class=""
      fill-opacity="1"
      id="svg_81"></path>
    <path
      fill="#6d6d6d"
      fill-opacity="1"
      stroke="#000000"
      stroke-opacity="1"
      stroke-width="18"
      stroke-dasharray="none"
      stroke-linejoin="miter"
      stroke-linecap="butt"
      stroke-dashoffset=""
      fill-rule="nonzero"
      opacity="1"
      marker-start=""
      marker-mid=""
      marker-end=""
      d="M280.7589238496801,400.87633134119153 L486.46628318959074,400.87633134119153 "
      class=""
      id="svg_68"></path>
  </g>

  <path
    opacity="1"
    fill="#000000"
    fill-opacity="0.8"
    stroke="#000000"
    stroke-opacity="1"
    style="color: rgb(147, 134, 113)"
    stroke-width="8"
    stroke-dasharray="none"
    stroke-linejoin="round"
    stroke-linecap="butt"
    stroke-dashoffset=""
    fill-rule="nonzero"
    opacity="1"
    marker-start=""
    marker-mid=""
    marker-end=""
    id="glasses"
    d="M79.69998168945312,139.83334350585938
                L159.83334350585938,139.83331298828125
                C164.0555419921875,151.166748046875
                173.61102294921875,151.83343505859375
                176.49990844726562,139.83334350585938
                L258.4999694824219,137.83331298828125
                C259.6108703613281,165.83334350585938
                265.3887023925781,197.16665649414062 216.49996948242188,198.5
                C175.38897705078125,198.50009155273438
                188.94436645507812,159.16659545898438
                168.49996948242188,159.8333740234375
                C147.38888549804688,159.833251953125
                162.94427490234375,199.16668701171875
                122.49996948242188,200.49996948242188
                C71.34478759765625,201.16665649414062
                79.5223388671875,168.50003051757812
                79.69998168945312,139.83334350585938 z"
    class=""
    transform="matrix(3.1014204025268555, 0, 0, 3.1014204025268555,
                0, -70)"
  ></path>
</svg>
