@import "tailwindcss";
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --font-sans: "Quicksand Variable", "sans-serif", monospace;
}

:root {
  --background-hue: 0;
  --background-saturation: 30%;
  --background-lightness: 90%;
  --text-color-value: 0 0 0;
  --text-color: rgb(var(--text-color-value, 0 0 0));

  touch-action: pan-x pan-y;
}

[data-theme="dark"] {
  --background-hue: 0;
  --background-saturation: 30%;
  --background-lightness: 30%;
  --text-color-value: 255, 255, 255;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100dvh;
  min-height: 100dvh;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;

  /* font-family: "Quicksand", "sans-serif", monospace; */

  background-color: oklch(
    var(--background-lightness) var(--background-saturation)
      var(--background-hue)
  );
  /* color: var(--text-color); */
  @apply text-gray-900 dark:text-gray-100;
  /* transition: color 500ms, background-color 1000ms; */
  transition: color 1000ms ease-in-out;
}
