@import "tailwindcss";

@theme {
  --font-sans: "Quicksand Variable", "sans-serif", monospace;
}

:root {
  --background-hue: 0;
  --background-saturation: 80%;
  --background-lightness: 90%;
  --text-color-value: 0, 0, 0;
  --shadow-opacity: 0.7;
  --text-color: rgb(var(--text-color-value));

  touch-action: pan-x pan-y;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background-hue: 0;
        --background-saturation: 50%;
        --background-lightness: 30%;

        --text-color: white;
    }
} */

.dark-mode {
  --background-hue: 360;
  --background-saturation: 50%;
  --background-lightness: 35%;
  --shadow-opacity: 0.7;
  --text-color-value: 255, 255, 255;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;

  /* font-family: "Quicksand", "sans-serif", monospace; */

  background-color: hsl(
    var(--background-hue),
    var(--background-saturation),
    var(--background-lightness)
  );
  color: var(--text-color);
  transition: all 500ms, background-color 1000ms;
}

/* .custom-font {
  font-family: "Quicksand", sans-serif;
} */

.landing {
  flex: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

svg {
  filter: drop-shadow(1px 1px 0px rgb(0, 0, 0))
    drop-shadow(-1px -1px 0px rgb(0, 0, 0))
    drop-shadow(-1px 1px 0px rgb(0, 0, 0))
    drop-shadow(1px -1px 0px rgb(0, 0, 0))
    drop-shadow(10px 5px 0 rgba(0, 0, 0, 0.3));
}

.i {
  font-family: "Segoe UI Emoji", sans-serif;
  font-size: 1.75em;
  display: inline-block;
}

.i.i-shadow {
  filter: drop-shadow(2px 2px 0 rgba(0, 0, 0, 0.3));
}

.button-brutal {
  padding: 8px;
  border: 3px solid var(--text-color);
  border-radius: 5px;
  box-shadow: 5px 5px 0 0 rgb(var(--text-color-value), var(--shadow-opacity));
  color: var(--text-color);
  transform: all 500ms;
}

.button-brutal:hover {
  translate: -2px -2px 0;
  box-shadow: 6px 6px 0 1px rgb(var(--text-color-value), var(--shadow-opacity));
}

.button-brutal:active {
  translate: 2px 2px 0;
  box-shadow: 4px 4px 0 -1px rgb(var(--text-color-value), var(--shadow-opacity));
}

.dummy {
  position: fixed;
  z-index: 1;
  border: 1px solid deeppink;
}

.dummy-point {
  margin: -2px 0 0 -2px;
  border: 2px solid green;
  position: fixed;
}

#eye_left,
#eye_right {
  transform-box: fill-box;
  transform-origin: center center;
}
