@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --font-sans: "Quicksand Variable", "sans-serif", monospace;
}

:root {
  --background-hue: 0;
  --background-saturation: 80%;
  --background-lightness: 90%;
  --text-color-value: 0 0 0;
  /* --shadow-opacity: 0.7; */
  --text-color: rgb(var(--text-color-value, 0 0 0));

  touch-action: pan-x pan-y;
}

[data-theme="dark"] {
  --background-hue: 360;
  --background-saturation: 50%;
  --background-lightness: 35%;
  /* --shadow-opacity: 0.7; */
  --text-color-value: 255, 255, 255;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100dvh;
  min-height: 100dvh;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;

  /* font-family: "Quicksand", "sans-serif", monospace; */

  background-color: hsl(
    var(--background-hue),
    var(--background-saturation),
    var(--background-lightness)
  );
  /* color: var(--text-color); */
  @apply text-gray-900 dark:text-gray-100;
  transition: color 500ms, background-color 1000ms;
}

svg {
  filter: drop-shadow(1px 1px 0px rgb(0, 0, 0))
    drop-shadow(-1px -1px 0px rgb(0, 0, 0))
    drop-shadow(-1px 1px 0px rgb(0, 0, 0))
    drop-shadow(1px -1px 0px rgb(0, 0, 0))
    drop-shadow(10px 5px 0 rgba(0, 0, 0, 0.3));
}
