---
import Github from "../icons/Github.astro";
---

<section>
  <div class="container my-56 mx-auto px-4 py-8 min-h-dvh">
    <h2 class="text-6xl font-extrabold"> Docs </h2>

    <ul class="flex flex-col items-start justify-start gap-4 mt-8 text-start">
      <li class="">
        <a class="text-2xl" href="https://dsl.yurigo.dev" target="_blank"
          >Desarrollo de servicios en linea</a
        ><a
          class="text-xl"
          href="https://github.com/yurigo/DSL-2425"
          target="_blank"><Github /></a
        >
      </li>

      <li>
        <a class="text-2xl" href="https://pei.yurigo.dev" target="_blank"
          >Programaci贸n de entornos multimedia - Programaci贸n orientada a
          objetos
        </a>
        <a
          class="text-xl"
          href="https://github.com/yurigo/PEI-2425"
          target="_blank"><Github /></a
        ><a class="text-xl" href="https://github.com/yurigo/POO" target="_blank"
          ><Github /></a
        >
      </li>
      <li>
        <a class="text-2xl" href="https://pmi.yurigo.dev" target="_blank"
          >Programaci贸n web - Programaci贸n de medios interactivos</a
        >
        <a
          class="text-xl"
          href="https://github.com/yurigo/PMI-2425"
          target="_blank"><Github /></a
        >
      </li>
    </ul>
  </div>
</section>

<style>
  @reference "../../styles/global.css";

  /* li {
    @apply flex flex-row items-center gap-2;
  } */

  li a {
    @apply inline-block align-middle p-2;
  }
</style>
