---
import ThemeToggler from "@/components/core/ThemeToggler.astro";
import Layout from "../layouts/Layout.astro";
import Yuricon from "@components/core/Yuricon.astro";
---

<Layout>
  <div class="p-4 text-end">
    <!-- <button id="toggle" class="button-brutal"></button> -->
    <ThemeToggler />
  </div>
  <div class="landing">
    <Yuricon />

    <h1 class="text-6xl font-extrabold">¡Hola!</h1>
  </div>
</Layout>

<style>
  .landing {
    flex: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
</style>

<script>
  const root = document.querySelector(":root");
  let hue = Math.floor(Math.random() * 360);

  const changeBackgroundHUE = () => {
    hue = hue % 360; //reset please!
    root.style.setProperty("--background-hue", ++hue % 360);
  };

  setInterval(changeBackgroundHUE, 50);

  const eyeLeft = document.getElementById("eye_left");
  const eyeRight = document.getElementById("eye_right");

  let mouseX = 0;
  let mouseY = 0;

  document.addEventListener("mousemove", (event) => {
    mouseX = event.pageX;
    mouseY = event.pageY;
    changeEyesPosition(mouseX, mouseY);
  });

  function touch(event) {
    mouseX = event.touches[0].pageX;
    mouseY = event.touches[0].pageY;
    changeEyesPosition(mouseX, mouseY);
  }

  document.addEventListener("touchstart", touch);
  document.addEventListener("touchmove", touch);
  document.addEventListener("touchend", touch);

  function withCenter(boundingBox) {
    boundingBox.centerX = (boundingBox.left + boundingBox.right) / 2;
    boundingBox.centerY = (boundingBox.top + boundingBox.bottom) / 2;
    boundingBox.centerToString = `${boundingBox.centerX}px ${boundingBox.centerY}px`;
    return boundingBox;
  }

  const TRANSFORMATION = 1;
  const MAX_RADIUS = 25;

  function getTransformation(x, y, box) {
    let nx = x - box.centerX;
    let ny = y - box.centerY;

    let distance = Math.sqrt(Math.pow(nx, 2) + Math.pow(ny, 2));
    let alpha = Math.atan(ny / nx);
    alpha = nx < 0 ? alpha + Math.PI : alpha;

    return `rotate( ${alpha}rad ) translate( ${Math.min(
      distance * TRANSFORMATION,
      MAX_RADIUS
    )}px )`;
  }

  function changeEyesPosition(x, y) {
    eyeLeft.style.transform = getTransformation(
      x,
      y,
      withCenter(eyeLeft.getBoundingClientRect())
    );
    eyeRight.style.transform = getTransformation(
      x,
      y,
      withCenter(eyeRight.getBoundingClientRect())
    );
  }
</script>
