---
import JS from "../icons/JS.astro";
import CSS from "../icons/CSS.astro";
import HTML from "../icons/HTML.astro";
---

<span
  class="inline-flex items-center align-bottom relative top-1.5 mx-2 text-purple-600"
>
  <span class="absolute -top-3 -left-3 text-yellow-700">
    <HTML />
  </span>
  <CSS />
  <span class="absolute -top-3 -right-3 text-amber-400">
    <JS />
  </span>
</span>
