---
// Supports weights 300-700
import "@fontsource-variable/quicksand";
import "@styles/fonts.css";
import "@styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- <link rel="icon" type="image/png" href="img/yurigo-small.png" /> -->
    <title>yurigo.dev</title>
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap"
      rel="stylesheet"
    /> -->
  </head>
  <body>
    <slot />
  </body>
</html>

<style></style>
