---
// Supports weights 300-700
import "@fontsource-variable/quicksand";
import "@styles/fonts.css";
import "@styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>yurigo.dev</title>
  </head>
  <body>
    <slot />
  </body>
</html>
